<div class="row py-4">
	<div class="col-lg-4">
		<div class="text-danger">Categories</div>
		<div class="list-group">
			<% @categories.each do |category| %>
				<a href="<%= items_path(cid: category.id) %>" class="list-group-item list-group-item-action"><%= category.name %></a>
			<% end %>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Items</h5>
				<div id="items">
					<% @items.each do |item| %>
						<%= render item %>
					<% end %>
					<%= will_paginate @items %>
				</div>
			</div>
		</div>
	</div>
</div>
